<h2 class="text-center">Meus Pedidos</h2>

<% if @orders.empty? %>

  <p class='text center'>
    <strong> Você ainda não possui nenhum pedido. </strong>
  </p>
  
<% else %>

<div class="row">
<% @orders.each do |order| %>
  <div class="col-sm-4 little-buffer">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Pedido <%= order.code %> - <%= Order.human_enum_name(:status, order.status)%></h5>
        <p class="card-text">
          <ul class="list-group">
            <% order.cart_items.each do |item|%>
              <li class="list-group-item">
                <%= item.product.name %>
              </li>
            <% end %>
          </ul>
        </p>
        <div class="text-center">
          <%= link_to "Detalhes do Pedido", order_path(order.id), class: 'btn btn-outline-warning mini-button little-buffer' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>
<% end %>