<h1>Compra de Rubis</h1>

<%= form_with url: user_buy_rubis_path(current_user.id) do |f| %>
  <div id="buy-rubis">
    <%= f.label :value, 'Valor em Real' %>
    <%= f.number_field :value %>

    <%= f.submit 'Comprar'  %>
  </div>
<% end %>