main {
  min-height: 73vh;
}

.mini-button {
  --bs-btn-padding-y: .25rem;
  --bs-btn-padding-x: .5rem;
  --bs-btn-font-size: .75rem;
}

.search-bar {
  max-width: 50%;
}

.field_with_errors label {
  color: rgb(255,0,0)
}
.field_with_errors input {
  border-color: rgb(255, 0, 0)
}

.field_with_errors textarea {
  border-color: rgb(255, 0, 0)
}

.buffer {
  margin: 60px 0
}

.little-buffer {
  margin: 20px 0
}

.tiny-buffer {
  padding: 10px 10px;
}

.hbuffer {
  margin-left: 10px;
  margin-right: 10px;
}

.top-buffer {
  margin-top: 60px;
}

.standard-width {
  max-width: 900px;
}

body {
  font-family: 'Anek Latin', sans-serif;
  font-size: 1.05em
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }


label {
  font-weight: 500;
}

.mini-height { line-height: 0.50em }

.max-with-select-navbar { max-width: 180px}

.product-brand {
  font-size: 0.85em;
  line-height: 0.5em;
}

.product-price {
  margin-top: 20px;
  font-weight: bold;
}

.product-category {
  font-size: 0.85em;
  margin-bottom: 5px;
}

.product-description {
  font-size: 0.90em;
}

.admin-nav-position {
  line-height: 0.75em;
  margin-top: 14px;
  text-align: right;
}

.user-nav-position {
  line-height: 90%;
  text-align: right;
  margin: 0px 10px;
}

.text-white {
  color: white !important
}

.bi {
  fill: #fff;
  color: #fff;
}

.full-select {
  height: 300px;
}

